In [107]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [108]:
df = pd.read_csv('cinema.csv')
df = df.drop('cinema_id', axis=1)
df.head(3)

    SNS1  SNS2         actor  original  sales
0  291.0  1044   8808.994029         0   9731
1  363.0   568  10290.709370         1  10210
2  158.0   431   6340.388534         1   8227

In [109]:
df2 = df.fillna(df.mean())

In [110]:
sc_model=StandardScaler()
sc_model.fit(df2)
sc_df = sc_model.transform(df2)
sc_df = pd.DataFrame(sc_df, columns = df.columns)

In [111]:
model = PCA(whiten = True)

model.fit (sc_df)
new_df = model.transform (sc_df)

In [114]:
new_df = pd.DataFrame(new_df)
col = ['PC1', 'PC2', 'PC3', 'PC4', 'PC5']
new_df.columns = col
new_df

         PC1       PC2       PC3       PC4       PC5
0  -0.295258 -1.493840  0.796023 -0.677331  0.755594
1   0.345074  1.011520  0.230844  0.237677  0.193419
2  -1.726106  1.381032  0.988676 -1.994855 -0.530399
3  -0.805069 -0.645784 -0.206652 -0.256364  1.544613
4  -0.388943 -0.898778  0.243571  1.442600 -1.613322
..       ...       ...       ...       ...       ...
95  1.168840  0.105565  0.860083 -0.309697 -0.558142
96  0.954356  0.304229  0.578665 -0.130080 -1.831671
97  0.239159 -1.413244  0.248807  0.312406  0.031753
98  0.462542  0.157977  1.597191 -0.941415  0.648777
99  0.393189  1.717584 -0.967438  1.356312  0.227783

[100 rows x 5 columns]

In [115]:
ratio = model.explained_variance_ratio_
ratio

array([0.54012068, 0.1860554 , 0.13631136, 0.10527073, 0.03224184])

In [116]:
array = []
for i in range(len(ratio)):
    array.append(sum(ratio[:(i+1)]))
    if array[-1]>=0.85:
        break

i+1

3

In [117]:
tmp_df = pd.concat([sc_df, new_df], axis=1)
tmp_df.head(5)

,SNS1,SNS2,actor,original,sales,PC1,PC2,PC3,PC4,PC5
0,-0.380071,1.196371,-0.704163,-1.0,-0.190425,-0.295258,-1.493840,0.796023,-0.677331,0.755594
1,-0.036880,-0.280899,0.330366,1.0,0.411923,0.345074,1.011520,0.230844,0.237677,0.193419
2,-1.014021,-0.706079,-2.427735,1.0,-2.081724,-1.726106,1.381032,0.988676,-1.994855,-0.530399
3,-0.523067,-0.249863,-1.094112,-1.0,-0.282224,-0.805069,-0.645784,-0.206652,-0.256364,1.544613
4,-0.770927,0.076005,0.761733,-1.0,-0.750018,-0.388943,-0.898778,0.243571,1.442600,-1.613322

In [118]:
corr_df = tmp_df.corr()
corr_df

,SNS1,SNS2,actor,original,sales,PC1,PC2,PC3,PC4,PC5
SNS1,1.000000,0.290692,0.448528,0.208310,0.645413,7.363685e-01,-5.075581e-02,-5.315090e-01,-4.002043e-01,-1.118926e-01
SNS2,0.290692,1.000000,0.390510,0.075136,0.471079,5.985554e-01,-5.340893e-01,5.367040e-01,-2.579824e-01,-4.328976e-02
actor,0.448528,0.390510,1.000000,0.279134,0.779306,8.379987e-01,-3.707337e-02,-1.727508e-02,5.052673e-01,-2.019663e-01
original,0.208310,0.075136,0.279134,1.000000,0.390118,4.691173e-01,8.005592e-01,3.247732e-01,-1.760228e-01,-5.071715e-02
sales,0.645413,0.471079,0.779306,0.390118,1.000000,9.369010e-01,1.341471e-02,-7.230302e-02,1.155690e-01,3.216405e-01
PC1,0.736368,0.598555,0.837999,0.469117,0.936901,1.000000e+00,1.087794e-16,-1.968123e-16,-3.644672e-16,-2.195214e-16
PC2,-0.050756,-0.534089,-0.037073,0.800559,0.013415,1.087794e-16,1.000000e+00,-3.364312e-17,-2.242875e-17,2.646592e-16
PC3,-0.531509,0.536704,-0.017275,0.324773,-0.072303,-1.968123e-16,-3.364312e-17,1.000000e+00,1.502726e-16,-6.638909e-16
PC4,-0.400204,-0.257982,0.505267,-0.176023,0.115569,-3.644672e-16,-2.242875e-17,1.502726e-16,1.000000e+00,-1.783085e-16
PC5,-0.111893,-0.043290,-0.201966,-0.050717,0.321640,-2.195214e-16,2.646592e-16,-6.638909e-16,-1.783085e-16,1.000000e+00

In [125]:
df_corr = corr_df.loc[:'sales', 'PC1':'PC3']
df_corr

               PC1       PC2       PC3
SNS1      0.736368 -0.050756 -0.531509
SNS2      0.598555 -0.534089  0.536704
actor     0.837999 -0.037073 -0.017275
original  0.469117  0.800559  0.324773
sales     0.936901  0.013415 -0.072303

In [124]:
for j in df_corr.columns:
    df_corr_sorted = df_corr[j].map(abs).sort_values (ascending =False)
    print(df_corr_sorted)

sales       0.936901
actor       0.837999
SNS1        0.736368
SNS2        0.598555
original    0.469117
Name: PC1, dtype: float64
original    0.800559
SNS2        0.534089
SNS1        0.050756
actor       0.037073
sales       0.013415
Name: PC2, dtype: float64
SNS2        0.536704
SNS1        0.531509
original    0.324773
sales       0.072303
actor       0.017275
Name: PC3, dtype: float64

In [121]:
col = []